* {
  margin: 0;
  padding: 0;
}

body {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  background-color: #474747;
}

.video {
  background-color: #9e9e9e;
  max-width: 650px;
  margin: 0 auto;
  padding: 30px 0;
}

h1,
h4 {
  background-color: #9e9e9e;
  max-width: 650px;
  margin: 0 auto;
}
h2 {
  margin-bottom: 2rem;
}

h3 {
  margin-bottom: 0.5rem;
}
.floating {
  position: fixed;
  left: 76%;
  top: 180px;
  text-align: center;
  width: 154px;
  background-color: rgb(81, 191, 255);
}

.search-in-body {
  display: flex;
  flex-direction: row;
  background-color: #eee;
  z-index: 999;
  right: 20px;
  width: 300px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}
.sib-absolute {
  position: absolute;
}
.sib-fixed {
  position: fixed;
  top: 80px;
}

.search-box {
  width: 80%;
  border: 1px solid #eee;
  padding: 3px 3px 3px 3px;
  margin: 5px 3px 5px 5px;
}
.next-btn,
.prev-btn,
.clear-btn {
  width: 15%;
  padding: 0px 3px 0px 3px;
  margin: 5px 3px 5px 3px;
  border: 2px solid rgb(162, 221, 255);
}

mark {
  background: yellow;
}
mark.current {
  background: orange;
}

@media screen and (max-width: 800px) {
  .search-in-body {
    display: flex;
    flex-direction: row;
    position: fixed;
    right: 20px;
    left: 20px;
    width: auto;
    top: 75px;
  }
  .search-box {
    width: 40%;
    margin-left: 5px;
    padding-left: 10px;
  }
  .next-btn,
  .prev-btn {
    width: 10%;
    padding-right: 3px;
    padding-left: 3px;
    margin-right: 3px;
    margin-left: 3px;
    color: black;
  }
  .clear-btn {
    width: 10%;
    padding-right: 3px;
    padding-left: 3px;
    margin-right: 3px;
    margin-left: 3px;
    color: black;
  }
  .kwt-count {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 3px;
    padding-left: 3px;
    margin-right: 5px;
    margin-left: 3px;
    color: black;
  }
}
